body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 6, 186);
}
h2{
    color: white;
}
.til{
    text-align: center;
}
ol{
    padding-left: 1%;
}
p{
    color: orange;
}
img{
    width: 40vw;
    height: 40vh;
}