
/* Use this website for gradient colours: https://mycolor.space/gradient 
To get box shadow use this website: https://getcssscan.com/css-box-shadow-examples */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;
    background: linear-gradient(to right bottom, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
    background-size: 400% 400%;
    animation: animatebg 5s ease infinite;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.main-container{
    height: fit-content;
    width: 30vw;
    background-color: palevioletred;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 20px;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}
form div{
    width: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.input-style{
    background: linear-gradient(to right bottom, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-size: 400% 400%;
    animation: animatebg 5s ease infinite;
    border-radius: 10px;
    border: transparent;
    height: 30px;
    padding: 5px;
    font-size: 15px;
}
.input-style:focus{
    outline: transparent;
}
.option-style{
    background: linear-gradient(to right bottom, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-size: 400% 400%;
    animation: animatebg 5s ease infinite;
    border-radius: 10px;
    border: transparent;
    height: 40px;
    width: 70%;
    padding: 5px;
    font-size: 15px;
}
select:focus{
    outline: transparent;
}

button{
    background: linear-gradient(to right bottom, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
    transition: 0.5s;
    background-size: 400% 400%;
    animation: animatebg 5s ease infinite;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    border: transparent;
    margin: 10px;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;
}

select option #span-color{
    color: rgb(255, 255, 255);
}

@keyframes animatebg{                                                   
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}