body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}
h1{
    color: rgb(0, 0, 144);
    padding: 50px;
}
.cen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
li{
    padding: 5px;
    font-size: 30px;
}
.para p{
    font-size: 30px;
    height: auto;
    width: 56vw;
    padding-left: 21vw;
}

.img2{
    height: 53vh;
    width: 56vw;
}

#logo{
    height: 90vh;
    width: 55vw;
}