body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 193);
}
header{
    background-color: rgb(104, 145, 133);
    color: white;
    text-align: center;
    padding: 1vh;
    margin: -1vh;
}
.notes{
    border-radius: 21px;
    background-color: white;
    padding: 20px;
    margin: 25px;
}
h2{
    color: rgb(127, 25, 127);
}