*{
    padding: 0;
    margin: 0;
}

body{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20x;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.grid-container-con { 
    margin: 1rem;
} 
.grid-child-con { 
    display: inline-block;
    padding: 0rem 1rem;
    vertical-align: middle;
}
/* Spliting the div's */
.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-gap: none; 
} 
.grid-child-element { 
    margin: 13px;
    padding: 23px;
}

.con-skills-edu{
    background-color: rgb(255 235 210);
}
.subframe .con-skills-edu div{  
    padding: 20px;
}
.subframe .prof-proj-intern-exp div{
    padding: 20px;
}

.subframe div div ul li{
    padding-bottom: 5px;
}


footer{
    padding-top: 20px;
}
img{
    height: 100px;
    width: 100px;
}