body{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    border: 20px solid rgb(118, 0, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
.main form div{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 20px;    
}
img{
    padding-top: 20px;
    height: 10vh;
    width: auto;
}
.main form div button{
    padding: 5px 73px 5px 73px;
    background-color: rgb(118, 0, 182);
    outline: white;
    border-radius: 10px;
    color: white;
}
.main form div input{
    padding-left: 15px;
}
