.screen{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.screen #element{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 20vw;
}
body{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 169, 169);
}
button{
    background-color: rgb(21, 249, 21);
    border: 3px solid rgb(21, 249, 21);
    margin-bottom: 20px;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(219, 238, 134);
    border: 3px solid rgb(219, 238, 134);
}
img{
    padding-top: 20px;
    height: 20vh;
    width: auto;
}
p{
    margin: 4px;
}